{% extends 'base.html' %}

{% block title %}Wishlist - CarHub Online Showroom{% endblock %}

{% block content %}
<h1>My Wishlist</h1>

<div class="row">
    {% for item in wishlist %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ item.car.image.url }}" class="card-img-top" alt="{{ item.car.brand }} {{ item.car.model }}">
            <div class="card-body">
                <h5 class="card-title">{{ item.car.brand }} {{ item.car.model }}</h5>
                <p class="card-text">Year: {{ item.car.year }}</p>
                <p class="card-text">Price: ${{ item.car.price }}</p>
                <a href="{% url 'cars:car_detail' item.car.id %}" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
